.showOnClick{
    display:block !important;
}
body {
    background-color: lightblue;
  }
  #title{
      font-weight: 900;
      display: block !important;
      
  }
.hideElements{
    display:none;
}
.form-control{
    display:inline-block !important;
    width:20em !important;
    border-radius: 10px !important;
}
.delete{
    margin-left:1em;
}
.listLayout{
    text-align: center;
    border-width: 2px;
    border-color: black;
}
.tasks{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h1,h4 {
    color: bold;
    display:inline-block;
}


